<h1>
  <%= @job %> 
  <%= render 'notations/note_badge', subject: @job %>
</h1>
<%= render 'notations/note_a_subject', subject: @job %>
<%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-default' %>
