<h1>
  <%= @company %> 
  <%= render 'notations/note_badge', subject: @company %>
</h1>
<%= render 'notations/note_a_subject', subject: @company %>
<%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-default' %>
