@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"


.star
  &, &:hover
    text-decoration: none
  &.inactive
    color: grey
  &.active
    color: orange
  &:hover
    color: orange